@if $include-buttons == true{
    
    
    
    
    
    /************
    ************************ $BUTTONS
    ************/
    // Definimos los botones y sus variantes
    
    // .btn es la clase principal para definir un botón
    %btn {
        display: inline-block;
        line-height: $baselineheight * 2;
        color: $button-color;
        text-align: center;
        vertical-align: middle;
        font-size: fs(normal);
        white-space: nowrap;
        background-color: $button-background;
        border-top: $button-border-width solid $button-border-color;
        border-right: $button-border-width solid $button-border-color;
        border-bottom: $button-border-width solid $button-border-color;
        border-left: $button-border-width solid $button-border-color;
        cursor: pointer;
        margin: 0.5em;
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 1em;
        padding-left: 1em;
        border-radius: $radius;
        will-change: background-color, box-shadow;
        @include transition(all $transition-hover ease-in);
        box-shadow: shadow(low);
        
        &:hover {
            text-decoration: none;
            color: $button-color;
            box-shadow: shadow(middle);
        }
        &:active,
        &:focus{
            outline:none;
        }
        &:visited {
            color: $button-color;
        }
    }
    
    
    
    
    
    /************
    ************************ $BUTTON MODIFIERS
    ************/
    // Variantes de los botones: color para dar sensaciones.
    
    /** Botón principal
    ****/    
    .btn--primary {
        @extend %btn;
        background-color: $color-primary;
        
        &:visited {
            background-color: $color-primary;
        }

        &:hover {
            background-color: $color-primary-light;
        }
        
    }
    
    
    /** Botón secundario
    ****/    
    .btn--secondary {
        @extend %btn;
        background-color: $color-white;
        color: $color-primary;
        box-shadow: none;
        font-weight: $font-text-bold;
        
        &:hover {
            background-color: $color-white;
            color: $color-primary;
            box-shadow: none;
        }
        
        &:visited {
            background-color: $color-white;
            color: $color-primary;
        }
    }
    

    /** Botón de info
    ****/
    .btn--info {
        @extend %btn;
        background-color: $color-info;

        &:hover {
            background-color: $color-info-light;
        }
        &:visited {
            background-color: $color-info-light;
        }
    }

    
    /** Botón de OK
    ****/
    .btn--success {
        @extend %btn;
        background-color: $color-success;

        &:hover {
            background-color: $color-success-light;
        }
        &:visited {
            background-color: $color-success-light;
        }
    }
    
    
    
    /** Botón de advertencia
    ****/
    .btn--warning {
        @extend %btn;
        background-color: $color-warning;
        color: $color-text;

        &:hover {
            background-color: $color-warning-light;
            color: $color-text;
        }
        &:visited {
            background-color: $color-warning-light;
            color: $color-text;
        }
    }

    /** Botón de error
    ****/
    .btn--danger {
        @extend %btn;
        background-color: $color-danger;

        &:hover {
            background-color: $color-danger-light;
        }
        &:visited {
            background-color: $color-danger-light;
        }
    }
    
    
    
    /** Botón deshabilitado
    ****/
    input[type="submit"][disabled],
    button[disabled],
    .btn--disabled {
        @extend %btn;
        @include opacity(.5);
        cursor: not-allowed;
        background-color: $color-lightgrey;
        color: $color-text;

        &:hover,
        &:focus,
        &:visited {
            background-color: $color-lightgrey;
            color: $color-text;
        }
    }


    /** Botones de bloque
    ****/
    .btn--block {
        display: block;
        width: 100%;
        margin: 0;
    }
    
    
    
    
    
    
    /************
    ************************ $TAMAÑOS DE BOTONES
    ************/
    // Variantes de los botones por tamaño.

     .btn--small{
        font-size: fs(small);
    }
    
    .btn--large{
        line-height: 2.5;
        font-size: fs(big);
    }
    
    
    
    
    /************
    ************************ $BOTONES AGRUPADOS
    ************/
    // Con esta clase podemos agrupar los botones en grupos horizontales.

    .btn-group {
        @extend %clear;
        position: relative;
        display: inline-flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 0.5em;
        box-shadow: shadow(low);
        border-radius: $radius;

        [class^="btn--"], [class*=" btn--"] {
            position: relative;
            border-radius: 0;
            margin: 0;
            box-shadow: none;

            &:first-child {
                @include border-radius(0, 0, $radius, $radius);
            }

            &:last-child {
                @include border-radius($radius, $radius, 0, 0);
            }

            &:hover{
                box-shadow: shadow(middle);
            }
        }
    }
    
} // endif