



/************
************************ $FORMS
************/

form {
	margin: 0 0 $baselineheight 0;

	fieldset {
		margin-bottom: $baselineheight;
		padding: 0;
		border-width: 0;
	}

	legend {
		display: block;
		width: 100%;
		margin-bottom: 1em;
		padding: 0;
		color: $color-text;
		border: 0;
		border-bottom: $input-border-width $input-border-style $input-border-color;
		white-space: normal;

		small {
			font-size: fs(small);
			color: $color-grey;
		}
	}

	p {
		margin-bottom: $baselineheight / 2;
	}

	ul {
		list-style-type: none;
		margin: 0 0 $baselineheight 0;
		padding: 0;
	}
}


.form-field {
	position: relative;
	display: flex;
	flex-direction: column-reverse;
	align-items: flex-start;
	margin-top: 0.5em;
	margin-bottom: 1em;
}


label {
	font-size: fs(small);
	display: inline-block;
	font-weight: $font-text-bold;
	color: $color-text;
	cursor: pointer;
}

input,
button,
select,
textarea {
	font-family: $font-text;
	font-size: fs(normal);
	border-radius: $radius;
	vertical-align: baseline;
	@include box-sizing(border-box);
}

input,
textarea,
select {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	padding: $input-padding;
	background-color: $input-background-color;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: $input-border-width $input-border-style $input-border-color;
	color: $color-text;
    appearance: none;

	&:focus {
		outline: none;
	}
}

textarea {
	border: $input-border-width $input-border-style $input-border-color;
	height: auto;
	resize: vertical;
	overflow: auto;
	vertical-align: top;
}

select {
	appearance: listbox;
}

input,
textarea,
select {

	& + label:before {
		position: absolute;
		bottom: 0;
		left: 0;
		content: '';
		display: block;
		width: 0;
		height: 2px;
		background-color: $color-primary;
		will-change: width;
		transition: width 0.2s ease-in-out;
	}

	&:focus + label {
		color: $color-primary;

		&:before {
			width: 100%;	
		}
	}
}


/** Field help
****/
.help {
	&:after {
		content: '?';
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 1rem;
		height: 1rem;
		color: $color-white;
		background-color: $color-info;
		border-radius: 100%;
		line-height: 1;
	}

	&:hover {
		.help__text {
			display: block;
		}
	}
}

.help__text {
	position: absolute;
	bottom: 100%;
	display: none;
	width: 250px;
	padding: 0.5em;
	background-color: $color-info-light;
	color: $color-info-dark;
	box-shadow: shadow(middle);
	font-weight: $font-text-weight;
	z-index: z(modal);

	&:first-line {
		font-weight: $font-text-bold;
	}
}


/** Actions
****/
.form__actions {
	text-align: right;
}

input[type="reset"],
input[type="submit"],
input[type="button"] {
	width: auto;
}


/**
* Validamos los formularios que son "required":
* http://coolvillage.es/ayuda-al-usuario-a-rellenar-formularios-con-css/
*/

input:required:focus:invalid {
	& + label:before {
		background-color: $color-danger;
	}
}
input:required:focus:valid {
	& + label:before {
		background-color: $color-success;
	}
}


/** Checkbox / radio
****/
input[type="checkbox"],
input[type="radio"] {
	width: $gutter-width / 2;
	height: $gutter-width / 2;
	padding: 0;
	margin :0 3px 0 0;
	line-height: normal;
	cursor: pointer;
	background-color: $color-white;
	border: $input-border-width $input-border-style $input-border-color;

	&:checked {
		background-color: $color-primary;
		border-color: $color-white;
		border-width: 1px;
		box-shadow: 0 0 0 1px $input-border-color;
	}

	+ label {
		margin-right: $gutter-width;

		&:before {
			display: none;
		}
	}
}

input[type="radio"] {
	border-radius: 100%;
}

	label {
		input[type="checkbox"],
		input[type="radio"]  {
			margin-right: $gutter-width / 4;
		}
	}


/** Input placeholder
****/
::-webkit-input-placeholder {
	font-size: fs(small);
}

input:-moz-placeholder {
	font-size: fs(small);
}

/** Input disabled
****/
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
	@include opacity(.5);
	cursor: not-allowed;
}


/** Input group
****/
.input-group {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-end;
	margin-top: 0.5em;
	margin-bottom: 1em;

	label {
		flex-basis: 100%;
		flex-grow: 1;
		flex-shrink: 0;
		margin-bottom: $baselineheight * -1em;
	}

	input {
		order: 1;
		flex-basis: 70%;
		flex-grow: 1;
		flex-shrink: 0;
	}

	button {
		order: 2;
		flex-grow: 0;
		flex-shrink: 0;
	}

	[class^="btn--"], [class*=" btn--"] {
		margin: 0;
	}
}